* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
}

h1 {
    color: #fff;
}

.screen {
    cursor: pointer;
    width: 60%;
    background-color: #000;
}

.controls {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 60%;
    display:flex;
    /* 控制辅轴对齐属性align-items 默认值为stretch */
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.controls .btn {
    cursor: pointer;
    border-width: 0;
    background-color: transparent;
}

.btn:focus {
    outline: 0;
}


.stop-icon::before {
    display: block;
    background-color: rgb(171, 213, 233);
    content: " ";
    width: 20px;
    height: 20px;
}

/* 纯CSS写三角形，明白原理 */
.play-icon::before {
    display: block;
    background-color: transparent;
    content: " ";
    width: 0;
    height: 0;
    border-left: 30px solid rgb(207, 207, 207);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.pause-icon::before {
    display: block;
    background-color: transparent;
    content: " ";
    width: 6px;
    height: 30px;
    border-left: 12px solid white;
    border-right: 12px solid white;
}
